<div class="container pb-4">
  <div
    class="d-flex justify-content-center align-items-center m-vh-100"
    *ngIf="isLoading"
  >
    <div class="spinner-border text-info" role="status" id="loding-spinner">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row pt-5" *ngIf="ad">
    <div class="col-8 bg-white pl-0 border p-4 rounded">
      <div class="row">
        <h2>{{ ad.make }} {{ ad.model }}</h2>
      </div>
      <div class="row">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li
              *ngFor="let a of images; index as i"
              data-target="#carouselExampleIndicators"
              attr.data-slide-to="{{ i + 1 }}"
            ></li>
            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{ showcaseImage }}" class="d-block w-100" alt="..." />
            </div>
            <div *ngFor="let img of images" class="carousel-item">
              <img src="{{ img }}" class="d-block w-100" alt="..." />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <h4>About this ad</h4>
      </div>
      <div class="row mt-3">
        <div class="col">
          <p>
            {{ ad.description }}
          </p>
        </div>
      </div>
      <div class="row mt-4">
        <h4>Tehnical Details</h4>
      </div>
      <div class="row mt-3">
        <div class="col">
          <p class="text-muted">Category</p>
          <p class="text-muted">Body</p>
          <p class="text-muted">Engine capacity</p>
          <p class="text-muted">Engine power</p>
          <p class="text-muted">Distance travelled</p>
          <p class="text-muted">Drivetrain</p>
          <p class="text-muted">Fuel type</p>
          <p class="text-muted">Transmission type</p>
          <p class="text-muted">Number of gears</p>
          <p class="text-muted">Manufactured in</p>
          <p class="text-muted">Damaged</p>
        </div>
        <div class="col">
          <p class="font-weight-bold">{{ ad.vehicleCategory }}</p>
          <p class="font-weight-bold">{{ ad.vehicleType }}</p>
          <p class="font-weight-bold">{{ ad.engine_capacity }}</p>
          <p class="font-weight-bold">{{ enginePower }}</p>
          <p class="font-weight-bold">{{ ad.travelled }}km</p>
          <p class="font-weight-bold">{{ drivetrain }}</p>
          <p class="font-weight-bold">{{ ad.fuelType }}</p>
          <p class="font-weight-bold">{{ ad.gearType }}</p>
          <p class="font-weight-bold">{{ ad.number_of_gears }}</p>
          <p class="font-weight-bold">{{ ad.year_of_made }}</p>
          <p class="font-weight-bold">{{ ad.is_damaged ? "Yes" : "No" }}</p>
        </div>
      </div>
    </div>
    <div class="col-4 pr-0">
      <div class="row p-4 bg-white rounded border">
        <div class="col px-0">
          <div
            class="p-2 bg-info rounded d-flex justify-content-end align-items-center"
          >
            <h2 class="text-white m-0">
              {{ price }}<span class="ml-1">&euro;</span>
            </h2>
          </div>
          <div class="mt-4">
            <p class="text-muted">
              Published<span class="ml-1 font-weight-bold">{{
                publishedAt
              }}</span>
            </p>
            <p class="text-muted">
              Seller<span class="ml-1 font-weight-bold"
                >{{ user.first_name }} {{ user.last_name }}</span
              >
            </p>
            <p class="text-muted">
              Contact<span class="ml-1 font-weight-bold">{{ user.phone }}</span>
            </p>
            <p class="text-muted">
              Email<span class="ml-1 font-weight-bold">{{ user.email }}</span>
            </p>
            <p class="text-muted">
              City<span class="ml-1 font-weight-bold">{{
                ad.location.city
              }}</span>
            </p>
            <p class="text-muted">
              Street<span class="ml-1 font-weight-bold">{{
                ad.location.street
              }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
