<div class="col p-0">
  <div class="card m-3">
    <img src="{{ ad.showcaseImage }}" class="card-img-top" alt="Vehicle" />
    <div class="card-body">
      <h5 class="card-title">{{ ad.make }} {{ ad.model }}</h5>
      <ul class="text-muted list-unstyled">
        <li>Travelled {{ ad.travelled }}km</li>
        <li>Made in {{ ad.year_of_made }}</li>
        <li>Uses {{ ad.fuelType }}</li>
      </ul>
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="m-0 font-weight-bold text-dark">
          {{ price }}<span class="ml-1">&euro;</span>
        </h4>
        <a
          [routerLink]="['/ad', ad.id]"
          target="__blank"
          rel="noopener noreferrer"
          class="btn btn-info stretched-link"
          >View</a
        >
      </div>
    </div>
    <div class="card-footer">
      <small>Added {{ dateOfPublish }}</small>
    </div>
  </div>
</div>
