<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Edit profile information
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="editProfileForm"
          [formGroup]="editProfile"
          novalidate
          (ngSubmit)="onSubmit($event)"
        >
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="edit-first-name">First name</label>
                <input
                  formControlName="firstName"
                  class="form-control"
                  type="text"
                  id="edit-first-name"
                  value="{{ user.first_name }}"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="edit-last-name">Last name</label>
                <input
                  formControlName="lastName"
                  class="form-control"
                  type="text"
                  id="edit-last-name"
                  value="{{ user.last_name }}"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="edit-phone">Contact phone</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">+381</span>
                  </div>
                  <input
                    formControlName="phone"
                    type="text"
                    class="form-control"
                    id="edit-phone"
                    value="{{ user.phone }}"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="edit-email">Email</label>
                <input
                  formControlName="email"
                  type="email"
                  id="edit-email"
                  class="form-control"
                  value="{{ user.email }}"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          form="editProfileForm"
          type="submit"
          class="btn btn-success"
          [disabled]="editProfile.invalid"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
