.stats-round {
  width: 12rem;
  height: 12rem;
}

.bg-stats-users {
  background-color: #38bdf8;
  color: #f0f9ff;
  border-color: #0ea5e9;
}

.bg-stats-ads {
  background-color: #60a5fa;
  color: #eff6ff;
  border-color: #3b82f6;
}

.bg-stats-car-ads {
  background-color: #075985;
  color: #f5f3ff;
  border-color: #0c4a6e;
}

.bg-stats-bike-ads {
  background-color: #fcd34d;
  color: #faf5ff;
  border-color: #fbbf24;
}

.bg-stats-truck-ads {
  background-color: #06b6d4;
  color: #fdf4ff;
  border-color: #0891b2;
}
