<div class="row" *ngIf="isLoading">
  <div class="col h-100 d-flex justify-content-center align-items-center">
    <div
      class="spinner-border text-info"
      role="status"
      style="width: 6rem; height: 6rem"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div *ngIf="!isLoading" class="row">
  <div class="col bg-white p-4 border rounded-lg">
    <div class="row">
      <div class="col">
        <div class="card bg-stats-users text-white py-4">
          <div
            class="card-body justify-content-center d-flex flex-column align-items-center"
          >
            <h1 class="card-title d-flex align-items-center">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-people-fill mr-3"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"
                />
              </svg>
              {{ stats.users }}
            </h1>
            <h3>Users</h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-stats-ads py-4">
          <div
            class="card-body justify-content-center d-flex flex-column align-items-center"
          >
            <h1 class="card-title d-flex align-items-center">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-badge-ad-fill mr-3 mt-1"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm6.209 6.32c0-1.28.694-2.044 1.753-2.044.655 0 1.156.294 1.336.769h.053v-2.36h1.16V11h-1.138v-.747h-.057c-.145.474-.69.804-1.367.804-1.055 0-1.74-.764-1.74-2.043v-.695zm3.142.017c0-.699-.422-1.138-1.002-1.138-.584 0-.954.444-.954 1.239v.453c0 .8.374 1.248.972 1.248.588 0 .984-.44.984-1.2v-.602zM4.17 9.457L3.7 11H2.5l2.013-5.999H5.9L7.905 11H6.644l-.47-1.542H4.17zm1.767-.883l-.734-2.426H5.15l-.734 2.426h1.52z"
                /></svg
              >{{ stats.ads }}
            </h1>
            <h3>Ads</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col d-flex justify-content-center">
        <div
          class="d-flex flex-column align-items-center w-100 card justify-content-center border stats-round bg-stats-car-ads"
        >
          <h1>{{ stats.carAds }}</h1>
          <h4>Car ads</h4>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div
          class="d-flex w-100 card flex-column align-items-center justify-content-center border stats-round bg-stats-bike-ads"
        >
          <h1>{{ stats.bikeAds }}</h1>
          <h4>Bike ads</h4>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div
          class="d-flex flex-column card w-100 align-items-center justify-content-center border stats-round bg-stats-truck-ads"
        >
          <h1>{{ stats.truckAds }}</h1>
          <h4>Truck ads</h4>
        </div>
      </div>
    </div>
  </div>
</div>
