<div class="row">
  <div class="col">
    <div class="accordion" id="accordionExample">
      <app-side-panel-cars
        (vehicleType)="handleClick($event)"
      ></app-side-panel-cars>
      <app-side-panel-bikes
        (vehicleType)="handleClick($event)"
      ></app-side-panel-bikes>
      <app-side-panel-trucks
        (vehicleType)="handleClick($event)"
      ></app-side-panel-trucks>
    </div>
  </div>
</div>
