<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col col-sm-10 col-md-7 border p-4 bg-white mt-5">
      <div class="text-center" *ngIf="isLoginFailed">
        <p class="text-danger">Invalid username or password.</p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" novalidate>
        <div class="form-group">
          <label for="login-username">Username:</label>
          <input
            type="text"
            class="form-control"
            placeholder="johnysmith"
            id="login-username"
            formControlName="username"
          />
        </div>
        <div class="form-group">
          <label for="login-password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="login-password"
            formControlName="password"
          />
        </div>
        <div class="d-flex justify-content-end">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>
      </form>
      <div class="d-flex align-items-center justify-content-center mt-3">
        <p class="m-0 text-muted">Not registered?</p>
        <a href="/register" class="btn btn-link pl-1">Create an account</a>
      </div>
    </div>
  </div>
</div>
