<div *ngIf="!isLoading">
  <div class="row">
    <div class="col">
      <h4 class="text-muted">{{ totalUsers }} users</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Ads published</th>
            <th scope="col">Joined at</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.count }}</td>
            <td>{{ formatDate(user.created_at) }}</td>
            <td>
              <button
                class="btn-outline-danger btn"
                (click)="handleDelete(user.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalUsers"
        [(page)]="page"
        [maxSize]="5"
        [pageSize]="pageSize"
        [boundaryLinks]="true"
        (pageChange)="goTo(page - 1)"
      ></ngb-pagination>
    </div>
  </div>
</div>
