<div *ngIf="!isLoading">
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Added</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ad of ads">
            <td>{{ ad.make }} {{ ad.model }}</td>
            <td>{{ formatDate(ad.created_at) }}</td>
            <td>
              <a
                class="btn btn-outline-primary mr-3"
                [routerLink]="['/edit/ad', ad.id]"
                target="__blank"
                referrerpolicy="no-reffer"
                >Edit</a
              >
              <a
                class="btn btn-outline-info"
                [routerLink]="['/ad', ad.id]"
                target="__blank"
                referrerpolicy="no-reffer"
                >View</a
              ><button
                class="ml-3 btn btn-outline-danger"
                (click)="handleDelete(ad.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalAds"
        [(page)]="page"
        [maxSize]="5"
        [pageSize]="pageSize"
        [boundaryLinks]="true"
        (pageChange)="goTo(page - 1)"
      ></ngb-pagination>
    </div>
  </div>
</div>
<div class="row" *ngIf="isResultEmpty && !result">
  <div class="col">
    <h3>No Results</h3>
  </div>
</div>
