<div class="row justify-content-end">
  <button
    class="btn btn-light"
    type="button"
    data-toggle="collapse"
    data-target="#cp"
  >
    <svg
      width="1.5em"
      height="1.5em"
      viewBox="0 0 16 16"
      class="bi bi-filter"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
      />
    </svg>
    {{ isShown ? "Hide" : "Show" }} filters
  </button>
</div>
<div class="collapse" id="cp">
  <div class="row py-3 mb-3">
    <form
      class="container"
      [formGroup]="searchForm"
      (ngSubmit)="onSubmit($event)"
      novalidate
    >
      <!-- first row -->
      <div class="row mb-3">
        <div class="col">
          <select
            class="form-control form-control-sm"
            formControlName="category"
            #cat
          >
            <option value="">Category</option>
            <option value="CAR">Cars</option>
            <option value="MOTORCYCLE">Bikes</option>
            <option value="TRUCK">Trucks</option>
          </select>
          <small class="text-muted"
            ><span class="text-danger">*</span>Required</small
          >
        </div>
        <div *ngIf="cat.value === 'CAR'" class="col">
          <select class="form-control form-control-sm" formControlName="maker">
            <option value="">Manufacturer</option>
            <option *ngFor="let carMaker of carMakers" value="{{ carMaker }}">
              {{ carMaker }}
            </option>
          </select>
        </div>
        <div *ngIf="cat.value === 'MOTORCYCLE'" class="col">
          <select class="form-control form-control-sm" formControlName="maker">
            <option value="">Manufacturer</option>
            <option
              *ngFor="let bikeMaker of bikeMakers"
              value="{{ bikeMaker }}"
            >
              {{ bikeMaker }}
            </option>
          </select>
        </div>
        <div *ngIf="cat.value === 'TRUCK'" class="col">
          <select class="form-control form-control-sm" formControlName="maker">
            <option value="">Manufacturer</option>
            <option
              *ngFor="let truckMaker of truckMakers"
              value="{{ truckMaker }}"
            >
              {{ truckMaker }}
            </option>
          </select>
        </div>
        <div *ngIf="cat.value === 'CAR'" class="col">
          <select class="form-control form-control-sm" formControlName="body">
            <option value="">Body</option>
            <option *ngFor="let carBody of carBodies" value="{{ carBody }}">
              {{ carBody }}
            </option>
          </select>
        </div>
        <div *ngIf="cat.value === 'MOTORCYCLE'" class="col">
          <select class="form-control form-control-sm" formControlName="body">
            <option value="">Body</option>
            <option *ngFor="let bikeBody of bikeBodies" value="{{ carBody }}">
              {{ bikeBody }}
            </option>
          </select>
        </div>
        <div *ngIf="cat.value === 'TRUCK'" class="col">
          <select class="form-control form-control-sm" formControlName="body">
            <option value="">Body</option>
            <option
              *ngFor="let truckBody of truckBodies"
              value="{{ truckBody }}"
            >
              {{ truckBody }}
            </option>
          </select>
        </div>
      </div>
      <!-- second row -->
      <div class="row">
        <div class="col">
          <select
            class="form-control form-control-sm"
            formControlName="transmission"
          >
            <option value="">Transmission</option>
            <option value="AUTO">Automatic</option>
            <option value="MANUAL">Manual</option>
          </select>
        </div>
        <div class="col">
          <select class="form-control form-control-sm" formControlName="city">
            <option value="">City</option>
            <option value="Beograd">Beograd</option>
            <option value="Novi Sad">Novi Sad</option>
            <option value="Subotica">Subotica</option>
          </select>
        </div>
        <div class="col">
          <select class="form-control form-control-sm" formControlName="fuel">
            <option value="">Fuel</option>
            <option value="DIESEL">Diesel</option>
            <option value="PETROL">Petrol</option>
          </select>
        </div>
      </div>
      <!-- third row -->
      <div class="row mt-3">
        <div class="col">
          <p>Model year</p>
          <div class="row">
            <div class="col pl-0">
              <input
                type="number"
                class="form-control form-control-sm"
                placeholder="From"
                formControlName="modelYearFrom"
              />
              <small class="text-danger" [hidden]="!modelYearFrom.invalid"
                >Year must contain only 4 numbers.</small
              >
            </div>
            <div class="col pr-0">
              <input
                type="number"
                class="form-control form-control-sm"
                placeholder="To"
                formControlName="modelYearTo"
              />
              <small class="text-danger" [hidden]="!modelYearTo.invalid"
                >Year must contain only 4 numbers.</small
              >
            </div>
          </div>
        </div>
        <div class="col">
          <p>Distance travelled</p>
          <div class="row">
            <div class="col pl-0 d-flex align-items-end">
              <input
                type="number"
                class="form-control form-control-sm"
                placeholder="From"
                formControlName="distanceFrom"
              />
              <span class="ml-1 text-muted">km</span>
            </div>
            <div class="col pr-0 d-flex align-items-end">
              <input
                type="number"
                class="form-control form-control-sm"
                placeholder="To"
                formControlName="distanceTo"
              />
              <span class="ml-1 text-muted">km</span>
            </div>
          </div>
        </div>
        <div class="col">
          <p>Price</p>
          <div class="row">
            <div class="col pl-0 d-flex align-items-end">
              <input
                type="number"
                class="form-control form-control-sm"
                placeholder="From"
                formControlName="priceFrom"
              />
              <span class="ml-1 text-muted">&euro;</span>
            </div>
            <div class="col pr-0 d-flex align-items-end">
              <input
                type="number"
                class="form-control form-control-sm"
                placeholder="To"
                formControlName="priceTo"
              />
              <span class="ml-1 text-muted">&euro;</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4 justify-content-end">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="searchForm.invalid"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</div>
