<div class="card">
  <div class="card-header" id="headingOne">
    <h2 class="mb-0">
      <button
        class="btn btn-light d-flex justify-content-between w-100 align-items-center"
        type="button"
        data-toggle="collapse"
        data-target="#collapseOne"
      >
        Cars
        <span [hidden]="!isHidden">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-chevron-down"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </span>
        <span [hidden]="isHidden">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-chevron-up"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"
            />
          </svg>
        </span>
      </button>
    </h2>
  </div>

  <div
    id="collapseOne"
    class="collapse show"
    aria-labelledby="headingOne"
    data-parent="#accordionExample"
  >
    <div class="card-body">
      <div class="list-group list-group-flush">
        <button
          *ngFor="let car of cars"
          type="button"
          value="{{ car }}"
          (click)="onClick($event.target.value)"
          class="list-group-item list-group-item-action"
        >
          {{ car }}
        </button>
      </div>
    </div>
  </div>
</div>
