<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <app-profile-navigation></app-profile-navigation>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
