<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-2">
      <app-dash-nav></app-dash-nav>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
