<div *ngIf="user" class="row">
  <div class="col-8 border rounded-lg p-4 bg-white">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="profile-first-name">First name</label>
          <input
            class="form-control"
            type="text"
            id="profile-first-name"
            placeholder="{{ user.first_name }}"
            disabled
          />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="profile-last-name">Last name</label>
          <input
            class="form-control"
            type="text"
            id="profile-last-name"
            placeholder="{{ user.last_name }}"
            disabled
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="profile-username">Username</label>
          <input
            type="text"
            id="profile-username"
            class="form-control"
            placeholder="{{ user.username }}"
            disabled
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="profile-email">Email</label>
          <input
            type="email"
            id="profile-email"
            class="form-control"
            placeholder="{{ user.email }}"
            disabled
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="phone">Contact phone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">+381</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="phone"
              placeholder="{{ user.phone }}"
              disabled
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-2">
      <div class="col">
        <p class="m-0 text-muted">Joined {{ joinedAt }}</p>
      </div>
      <div class="col">
        <div class="d-flex w-100 justify-content-end">
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Edit
          </button>
          <app-edit-modal
            [user]="user"
            (updateUser)="handleUpdatedUser($event)"
          ></app-edit-modal>
        </div>
      </div>
    </div>
  </div>
</div>
