<nav
  class="navbar navbar-expand navbar-light bg-light sticky-top border-bottom justify-content-between"
>
  <a class="navbar-brand" href="/">Auto Oglasi</a>

  <div>
    <a *ngIf="!isUserSigned" routerLink="/login" class="btn btn-light"
      >Sign in</a
    >
    <div *ngIf="isUserSigned" class="dropdown">
      <button
        class="btn btn-light rounded-circle btn-options text-muted"
        type="button"
        id="options"
        data-toggle="dropdown"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-person"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
          />
        </svg>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a *ngIf="!isAdmin" class="dropdown-item" routerLink="/publish/ad"
          >Publish Ad</a
        >
        <a *ngIf="isAdmin" class="dropdown-item" routerLink="/dashboard"
          >Dashboard</a
        >
        <a class="dropdown-item" routerLink="/profile">Profile</a>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="onSignOut()">Sign out</button>
      </div>
    </div>
  </div>
</nav>
