<div *ngIf="!isLoading">
  <div class="row">
    <div class="col">
      <h4 class="text-muted">{{ totalAds }} ads</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Published at</th>
            <th scope="col">Publisher</th>
            <th scope="col">Pub. email</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ad of results">
            <td>{{ ad.make }} {{ ad.model }}</td>
            <td>{{ formatDate(ad.created_at) }}</td>
            <td>{{ ad.pub }}</td>
            <td>{{ ad.pub_email }}</td>
            <td>{{ ad.price }} &euro;</td>
            <td>
              <button
                class="btn-outline-danger btn"
                (click)="handleDelete(ad.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalAds"
        [(page)]="page"
        [maxSize]="5"
        [pageSize]="pageSize"
        [boundaryLinks]="true"
        (pageChange)="goTo(page - 1)"
      ></ngb-pagination>
    </div>
  </div>
</div>
