/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

.row {
  margin: 0;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.bd {
  border: 1px solid red;
}
.btn-options {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.m-vh-100 {
  height: calc(100vh - 57px);
}
#loding-spinner {
  width: 8rem;
  height: 8rem;
}
