<div class="row mt-5" *ngIf="isPublished">
  <div class="col d-flex flex-column justify-content-center align-items-center">
    <div class="d-block text-success">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="76"
        height="76"
        fill="currentColor"
        class="bi bi-check-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
        />
        <path
          fill-rule="evenodd"
          d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"
        />
      </svg>
    </div>
    <h2 class="text-success mt-4">Your ad was successfully published</h2>
  </div>
</div>
<div class="container p-0 bg-white" *ngIf="!isPublished">
  <form
    class="border mt-5 p-4 rounded"
    [formGroup]="addForm"
    (ngSubmit)="onSubmit($event)"
  >
    <div class="row">
      <h3>Body details</h3>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" formControlName="category">
            <option value="">Select category</option>
            <option value="CAR">Car</option>
            <option value="TRUCK">Truck</option>
            <option value="MOTORCYCLE">Bike</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="make">Manufacturer</label>
          <select class="form-control" formControlName="make">
            <option value="">Select manufacturer</option>
            <optgroup label="Cars">
              <option *ngFor="let car of cars" value="{{ car }}">
                {{ car }}
              </option>
            </optgroup>
            <optgroup label="Motorcycles">
              <option *ngFor="let bike of bikes" value="{{ bike }}">
                {{ bike }}
              </option>
            </optgroup>
            <optgroup label="Trucks">
              <option *ngFor="let truck of trucks" value="{{ truck }}">
                {{ truck }}
              </option>
            </optgroup>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="model">Body style</label>
          <select class="form-control" formControlName="body">
            <option value="">Select body style</option>
            <optgroup label="Car bodies">
              <option *ngFor="let carBody of carBodies" value="{{ carBody }}">
                {{ carBody }}
              </option>
            </optgroup>
            <optgroup label="Motorcycle bodies">
              <option
                *ngFor="let bikeBody of bikeBodies"
                value="{{ bikeBody }}"
              >
                {{ bikeBody }}
              </option>
            </optgroup>
            <optgroup label="Truck bodies">
              <option
                *ngFor="let truckBody of truckBodies"
                value="{{ truckBody }}"
              >
                {{ truckBody }}
              </option>
            </optgroup>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="model">Model</label>
          <input
            id="model"
            class="form-control"
            type="text"
            placeholder="Example Audi RS3"
            formControlName="model"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <h2>Engine details</h2>
    </div>
    <div class="row row-cols-4">
      <div class="col">
        <div class="form-group">
          <label for="badge">Engine capacity</label>
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              placeholder="Example 2000"
              formControlName="engineCC"
            />
            <div class="input-group-append">
              <span class="input-group-text">cc</span>
            </div>
          </div>
          <small class="text-danger" [hidden]="!engineCC.invalid"
            >Must be a number.</small
          >
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="badge">Engine power</label>
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              placeholder="Example 100"
              formControlName="hp"
            />
            <div class="input-group-append">
              <span class="input-group-text">HP</span>
            </div>
          </div>
          <small class="text-danger" [hidden]="!hp.invalid"
            >Must be a number.</small
          >
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="model">Fuel type</label>
          <select class="form-control" formControlName="fuel">
            <option value="">Select fuel type</option>
            <option value="DIESEL">Diesel</option>
            <option value="PETROL">Petrol</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <h2>Transmission</h2>
    </div>
    <div class="row row-cols-4">
      <div class="col">
        <div class="form-group">
          <label for="model">Transmission type</label>
          <select class="form-control" formControlName="transmission">
            <option value="">Select type</option>
            <option value="MANUAL">Manual</option>
            <option value="AUTO">Automatic</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="badge">Number of gears</label>
          <input
            type="number"
            class="form-control"
            placeholder="Example 5"
            formControlName="gears"
          />
          <small class="text-danger" [hidden]="!gears.invalid"
            >Must be a number.</small
          >
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="model">Wheel drive</label>
          <select class="form-control" formControlName="wheelDrive">
            <option value="">Select wheel drive</option>
            <option value="ALL_WHEEL_DRIVE">All wheel drive</option>
            <option value="FRONT_WHEEL_DRIVE">Front wheel drive</option>
            <option value="REAR_WHEEL_DRIVE">Rear wheel drive</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <h2>Details</h2>
    </div>
    <div class="row row-cols-4">
      <div class="col">
        <div class="form-group">
          <label for="model">Has been damaged</label>
          <select class="form-control" formControlName="damage">
            <option value="">Select damage</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="badge">Model year</label>
          <input
            type="number"
            class="form-control"
            placeholder="Example 2012"
            formControlName="modelYear"
          />
          <small class="text-danger" [hidden]="!modelYear.invalid"
            >Year must contain only 4 numbers.</small
          >
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="badge">Distance travelled</label>
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              placeholder="Example 140.000"
              formControlName="distance"
            />
            <div class="input-group-append">
              <span class="input-group-text">km</span>
            </div>
          </div>
          <small class="text-danger" [hidden]="!distance.invalid"
            >Must be a number.</small
          >
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="model">Price</label>
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              placeholder="Example 11.500"
              formControlName="price"
            />
            <div class="input-group-append">
              <span class="input-group-text">&euro;</span>
            </div>
          </div>
          <small class="text-danger" [hidden]="!price.invalid"
            >Must be a number.</small
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="desc">Ad Description</label>
          <textarea
            class="form-control"
            rows="4"
            formControlName="desc"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="showcase-image">Showcase image</label>
          <input
            type="file"
            class="form-control-file"
            id="showcase-image"
            formControlName="showcaseImg"
            (change)="onShowcaseImageChange($event.target.files)"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlFile1">Images</label>
          <input
            type="file"
            class="form-control-file"
            id="exampleFormControlFile1"
            multiple
            formControlName="images"
            (change)="onImagesChange($event.target.files)"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="model">Location</label>
          <select class="form-control" formControlName="location">
            <option value="">Select location</option>
            <option *ngFor="let loc of locations" value="{{ loc }}">
              {{ loc }}
            </option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="addr">Address</label>
          <input
            formControlName="addr"
            class="form-control"
            type="text"
            id="addr"
            placeholder="Example Street No. 1"
          />
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" [disabled]="addForm.invalid">
            Publish
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
