<div
  infiniteScroll
  [infiniteScrollDisabled]="isInfiniteScrollDisabled"
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div class="row justify-content-center border-bottom">
    <div class="col py-3">
      <app-filters
        (setIsLoading)="handleLoading($event)"
        (results)="handleFilterResults($event)"
      ></app-filters>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-2 align-items-center d-flex">
      <p class="display-5">Categories</p>
    </div>
    <div class="col-10">
      <p class="display-4">{{ adsLabel }}</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-2">
      <app-side-panel
        (vehicleType)="handleVehicleType($event)"
      ></app-side-panel>
    </div>
    <div class="col-10">
      <div *ngIf="isLoading" class="row mt-5">
        <div class="col d-flex justify-content-center align-items-center">
          <div
            class="spinner-border text-info"
            style="width: 6rem; height: 6rem"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div
        *ngIf="!isResponseEmpty && !isLoading"
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4"
      >
        <app-card *ngFor="let ad of ads" [ad]="ad"></app-card>
      </div>
      <div
        *ngIf="isResponseEmpty"
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4"
      >
        <h4>No results</h4>
      </div>
    </div>
  </div>
</div>
