<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col col-sm-10 col-md-7 border p-4 bg-white">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit($event)" novalidate>
        <div class="row">
          <div class="col pl-0">
            <div class="form-group">
              <label for="register-first-name">First Name:</label>
              <input
                type="text"
                class="form-control"
                id="register-first-name"
                placeholder="John"
                formControlName="firstName"
              />
            </div>
          </div>
          <div class="col pr-0">
            <div class="form-group">
              <label for="register-last-name">Last Name:</label>
              <input
                type="text"
                class="form-control"
                id="register-last-name"
                placeholder="Smith"
                formControlName="lastName"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="register-username">Username:</label>
          <input
            type="text"
            class="form-control"
            placeholder="johnysmith"
            id="register-username"
            formControlName="username"
          />
          <small class="form-text text-muted">
            Username must be at least 6 characters long, can contain letters,
            numbers and _ (underscore).
          </small>
        </div>
        <div class="form-group">
          <label for="register-email">Email:</label>
          <input
            type="email"
            class="form-control"
            placeholder="john.smith@example.com"
            id="register-email"
            formControlName="email"
          />
        </div>
        <div class="form-group">
          <label for="register-phone">Contact phone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">+381</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="register-phone"
              placeholder="64 123 123 23"
              formControlName="phone"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="register-password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="register-password"
            formControlName="password"
          />
          <small class="form-text text-muted">
            Password must be at least 8 characters long.
          </small>
        </div>
        <div class="form-group">
          <label for="register-password-confirm">Confirm Password:</label>
          <input
            type="password"
            class="form-control"
            id="register-password-confirm"
            formControlName="confirmPassword"
          />
        </div>
        <div class="d-flex justify-content-end">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
        </div>
      </form>
      <div class="d-flex align-items-center justify-content-center mt-3">
        <p class="m-0 text-muted">Have an account?</p>
        <a href="/login" class="btn btn-link pl-1">Login</a>
      </div>
    </div>
  </div>
</div>
